<a href="https://colab.research.google.com/github/adarsh-64/Maakan-WebScrapped-data/blob/main/Apartments_in_Hybd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import all the packages

import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url = 'https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city'
req = requests.get(url)
print(req)
soup = BeautifulSoup(req.text,'html')
#print(soup.prettify())

<Response [200]>

In [15]:
own_info = soup.findAll('span',attrs={'class' : 'seller-type'})  #owner info
len(own_info)
own_inf = [i.text for i in own_info] 
own_inf

['BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER',
 'BUILDER']

In [14]:
b_info = soup.findAll('div',attrs={'class': 'title-line '})   # bhk info
bhk_info = [i.strong.span.text.strip() for i in b_info] 
bhk_info

['4',
 '3',
 '2',
 '2',
 '2',
 '3',
 '2',
 '3',
 'Residential Plot',
 '3',
 '4',
 '2',
 '2',
 '2',
 '3',
 '3',
 '4',
 '3',
 '5',
 '3']

In [17]:
p_inf = soup.findAll('div',attrs={'data-type':'price-link'})  #price of apartment
p_info = [i.text.strip() for i in p_inf]
p_info

['4.68 Cr',
 '1.6 Cr',
 '1.43 Cr',
 '56.98 L',
 '43.6 L',
 '65.82 L',
 '76.26 L',
 '1.18 Cr',
 '1.11 Cr',
 '95.35 L',
 '1.45 Cr',
 '56.02 L',
 '72.05 L',
 '61.57 L',
 '1.46 Cr',
 '96.22 L',
 '2.9 Cr',
 '63.11 L',
 '13.14 Cr',
 '97.11 L']

In [18]:
loc_inf = soup.findAll('span',attrs={'itemprop':'addressLocality'})   # locality
loc_info = [i.text for i in loc_inf]
loc_info

['Narsingi',
 'Manikonda',
 'Shaikpet',
 'Bachupally',
 'Shamshabad',
 'Tellapur',
 'Attapur',
 'Sainikpuri',
 'Sheriguda',
 'Manikonda',
 'Bachupally',
 'Ghatkesar',
 'Attapur',
 'Kompally',
 'Shankarpalli',
 'Nanakramguda',
 'Hitech City',
 'Mallampet',
 'Narsingi',
 'Manikonda']

In [19]:
a_inf = soup.findAll('td',attrs={'class' : 'size'})   # area of apartment
ar_info = [i.text.strip() for i in a_inf]
ar_info

['2929',
 '2810',
 '1495',
 '1295',
 '890',
 '1431',
 '1173',
 '2200',
 '3150',
 '1538',
 '2300',
 '1245',
 '1310',
 '1310',
 '3120',
 '1415',
 '3498',
 '1503',
 '8214',
 '1704']

In [20]:
con_st = soup.findAll('td',attrs={'class' : 'val'})   # construction status
con_status = [i.text for i in con_st]
con_status

['Under Construction',
 'Under Construction',
 'Ready to move',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'New',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'Under Construction',
 'Ready to move',
 'Ready to move',
 'Under Construction',
 'Under Construction',
 'Under Construction']

In [21]:
p_p_sqft = soup.findAll('td',attrs={'class':'lbl rate'})  # price per sqft
prc_pr_sqft = [i.text for i in p_p_sqft]
print(prc_pr_sqft)
print(len(prc_pr_sqft))

['16,000 / sq ft', '5,699 / sq ft', '9,565 / sq ft', '4,400 / sq ft', '4,899 / sq ft', '4,600 / sq ft', '6,501 / sq ft', '5,400 / sq ft', '3,555 / sq ft', '6,200 / sq ft', '6,304 / sq ft', '4,500 / sq ft', '5,500 / sq ft', '4,700 / sq ft', '4,700 / sq ft', '6,800 / sq ft', '8,290 / sq ft', '4,199 / sq ft', '16,000 / sq ft', '5,699 / sq ft']
20

In [31]:
import time
import requests
from IPython.display import clear_output

base_url = 'https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?page='

ow = []   
bhk = []
p = []
s = []
loc = []
st = []
pps = []

for i in range(1,21):
  time.sleep(1)

  print(f'Going to scrape data from {i} page')
  clear_output(wait=True)
  url = base_url+str(i)
  req = requests.get(url)
  soup = BeautifulSoup(req.text,'html')

  #owner info
  ow_info = soup.findAll('span',attrs={'class':'seller-type'})
  for j in ow_info:
    ow.append(j.text)
  
  #bhk info
  bhk_info = soup.findAll('div',attrs={'class':'title-line'})
  for j in bhk_info:
    bhk.append(j.strong.span.text)

  #price info
  p_info = soup.findAll('div',attrs={'data-type':'price-link'})
  for  j in p_info:
    p.append(j.text)
  
  #size info
  s_info = soup.findAll("td",attrs={'class':'size'})
  for j in s_info:
    s.append(j.text)
  
  #location info
  loc_info = soup.findAll('span',attrs={'itemprop':'addressLocality'})
  for j in loc_info:
    loc.append(j.text)
  
  #status info
  st_info = soup.findAll('tr',attrs={'class':'hcol w44'})
  for j in st_info:
    st.append(j.text)

  #price per sqft info
  pps_info = soup.findAll('td',attrs={'class':'lbl rate'})
  for j in pps_info:
    pps.append(j.text)

Going to scrape data from 20 page

In [32]:
data = pd.DataFrame({'Owner_inf' :ow ,
              'Bhk_info' : bhk,
              'Price' : p,
              'Locality' : loc,
              'Area_sqft' : s,
              'Status' :st ,
              'Price_Per_sqft' : pps})
data

    Owner_inf Bhk_info  ...                                 Status  Price_Per_sqft
0     BUILDER       4   ...  Under ConstructionConstruction Status  16,000 / sq ft
1     BUILDER       3   ...  Under ConstructionConstruction Status   5,699 / sq ft
2     BUILDER       2   ...       Ready to moveConstruction Status   9,565 / sq ft
3     BUILDER       2   ...  Under ConstructionConstruction Status   4,400 / sq ft
4     BUILDER       2   ...  Under ConstructionConstruction Status   4,899 / sq ft
..        ...      ...  ...                                    ...             ...
395     OWNER       2   ...  Under ConstructionConstruction Status   3,584 / sq ft
396     OWNER       2   ...  Under ConstructionConstruction Status   3,529 / sq ft
397     OWNER       2   ...  Under ConstructionConstruction Status   3,584 / sq ft
398     OWNER       2   ...  Under ConstructionConstruction Status   3,584 / sq ft
399     OWNER       2   ...  Under ConstructionConstruction Status   3,653 / sq ft

[400 rows x 7 columns]

In [33]:
data.to_csv('webscraped_data.csv',index=False)